In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('train_cleaned - train_cleaned.csv')
df1=pd.read_csv('test_cleaned - test_cleaned.csv')
df

,Unnamed: 0,textID,text,selected_text,sentiment
0,1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
1,2,088c60f138,my boss is bullying me...,bullying me,negative
2,3,9642c003ef,what interview! leave me alone,leave me alone,negative
3,4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
4,6,6e0c6d75b1,2am feedings for the baby are fun when he is a...,fun,positive
...,...,...,...,...,...
16358,27475,b78ec00df5,enjoy ur night,enjoy,positive
16359,27476,4eac33d1c0,wish we could come see u on Denver husband lo...,d lost,negative
16360,27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
16361,27478,f67aae2310,Yay good for both of you. Enjoy the break - yo...,Yay good for both of you.,positive
16362,27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive

In [3]:
X_train=df.loc[:10000,'text']
X_test=df1['text']

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
Y_train=le.fit_transform(df.loc[:10000,'sentiment'])
Y_test=le.transform(df1['sentiment'])

In [5]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf=TfidfVectorizer(lowercase=True,stop_words='english')
X_train1=tf.fit_transform(X_train)
X_test1=tf.transform(X_test)

In [6]:
X_train1

<10001x13608 sparse matrix of type '<class 'numpy.float64'>'
	with 67360 stored elements in Compressed Sparse Row format>

In [7]:
X_train1=pd.DataFrame(X_train1.toarray())
X_test1=pd.DataFrame(X_test1.toarray())

In [8]:
X_train1

,0,1,2,3,4,5,6,7,8,9,...,13598,13599,13600,13601,13602,13603,13604,13605,13606,13607
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
def sigmoid(z):
  return (1/(1+np.exp(-z)))

In [10]:
def training_phase(X,Y,lr,itr):
    n=len(X)
    X=X.T

    #Initialize weights
    W=np.random.randint(-10,10,size=(X.shape[0],1))*0.001
    b=0

    for i in range(itr):
      #Forward Propagation
      A=sigmoid(np.dot(W.T,X)+b)
      cost=(-1/n)*np.sum((Y*np.log(A))+((1-Y)*np.log(1-A)))

      if i%1000 ==0 :
          print('itr:'+str(i)+','+'cost:'+str(cost))

      #Backward Propagation
      dW=(1/n)*np.dot(X,(A-Y).T)
      db=(1/n)*np.sum(A-Y)
      W=W-lr*dW
      b=b-lr*db


    return W,b

In [12]:
#W,b=training_phase(X_train1,Y_train,0.1,100)

W,b=training_phase(X_train1,Y_train,0.9,5000)

itr:0,cost:0.6931245593455798
itr:1000,cost:0.5010170019103664
itr:2000,cost:0.43245037902298156
itr:3000,cost:0.3925120802791736
itr:4000,cost:0.364893704311555

In [13]:
def testing_phase(W,b,X):
  X=X.T
  A=sigmoid(np.dot(W.T,X)+b)
  Y_predicted=[]
  for i in range(A.shape[1]):
    if(A[0,i]>=0.5):
      Y_predicted.append(1)
    else:
      Y_predicted.append(0)

  return Y_predicted

In [14]:
Y_predicted=testing_phase(W,b,X_test1)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_predicted)

0.8640684410646388